@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --Lightred: rgb(255, 87, 87);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
    --para: 18px;
    --family: "Hanken Grotesk", serif;
    --fw-semi: 400;
    --fw-bold: 500;
    --fw-xbold: 700;
}
/* 1. lightslateblue -bg 2. lightroyaleblue -bg 3. violetblue -circle 4. persianblue -circle */

body{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 50vh;
}
main{
    background-color: var(--Violetblue);
    width: 400px;
    height: 100%;
}

.result{
    color: var(--Paleblue);
    display: flex;
    justify-content: center;
    font-size: var(--para);
    font-family: "Hanken Grotesk", sans-serif;
    margin-top: 2rem;
}
.circle-num{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--Darkgrayblue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6rem;
    font-family: "Hanken Grotesk", sans-serif;
    line-height: 0;
}
.circle-num h1{
    color: var(--Paleblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
 
}
.circle-num p{
    color: var(--Paleblue);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.last-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    color: var(--Paleblue);
    margin-top: 2rem;
}
.last-text h2{
    display: flex;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 2rem;
}
.last-text p{
    display: flex;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
    width: 70%;
    height: 20%;
    margin-left: 4rem;
}
section{
    background-color: whitesmoke;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes{
    padding: auto;
}
.red{
    background-color: rgb(255, 87, 87, 0.1);
    color: var(--Lightred);
    width:300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    margin-top: 2rem;
}
img{
    width: 25px;
    height: 25px;
}
.img-text{
   display: flex;
   gap: 3px;
}
.yellow{
    background-color: hsl(39, 100%, 56%, 0.1);
    color: var(--Orangeyyellow);
    width:300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
}
.green{
    background-color: hsl(166, 100%, 37%, 0.1);
    color: var(--Greenteal);
    width:300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
}
.purple{
    background-color: hsl(234, 85%, 45%, 0.1);
    color: var(--Cobaltblue);
    width:300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
}
.img-text{
    margin-top: 1rem;
}
.btn{
    background-color: var(--Darkgrayblue) !important;
    width: 32.5vh;
    height: 4.5vh;
    margin-top: 1rem;
    border-radius: 10%;
}

@media (min-width: 200px) and (max-width: 768px) {
    body{
        background-color: whitesmoke;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .design-bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 100vh;
    }
    main{
        background-color: var(--Violetblue);
        width: 380px;
        height: 50vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
       
    }
    
    .result{
        color: var(--Paleblue);
        display: flex;
        justify-content: center;
        font-size: var(--para);
        font-family: "Hanken Grotesk", sans-serif;
        
    }
    .circle-num{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: var(--Darkgrayblue);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 7rem;
        font-family: "Hanken Grotesk", sans-serif;
        line-height: 0;
    }
    .circle-num h1{
        color: var(--Paleblue);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
     
    }
    .circle-num p{
        color: var(--Paleblue);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .last-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 500;
        color: var(--Paleblue);
        margin-top: -0.2rem;
        
    }
    .last-text h2{
        display: flex;
        justify-content: center;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 2rem;
        
    }
    .last-text p{
        display: flex;
        justify-content: center;
        font-family: "Hanken Grotesk", sans-serif;
        width: 70%;
        height: 20%;
        margin-left: 4.5rem;
        
    }
    section{
        background-color: whitesmoke;
        width: 400px;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .summary{
        margin-top: 1rem;
    }
    .boxes{
        margin-top: -1rem;
        gap: 3rem;
    }
    .red{
        background-color: rgb(255, 87, 87, 0.1);
        color: var(--Lightred);
        width:300px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 8px;
        margin-top: 2rem;
    }
    img{
        width: 25px;
        height: 25px;
    }
    .img-text{
       display: flex;
       gap: 3px;
    }
    .yellow{
        background-color: hsl(39, 100%, 56%, 0.1);
        color: var(--Orangeyyellow);
        width:300px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 8px;
    }
    .green{
        background-color: hsl(166, 100%, 37%, 0.1);
        color: var(--Greenteal);
        width:300px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 8px;
    }
    .purple{
        background-color: hsl(234, 85%, 45%, 0.1);
        color: var(--Cobaltblue);
        width:300px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 8px;
    }
    .img-text{
        margin-top: 1rem;
    }
    .btn{
        background-color: var(--Darkgrayblue) !important;
        width: 300px;
        height: 50px;
        margin-top: 1rem;
        border-radius: 10%;
    }

}